<html>
    <div class="container">
    <h2>Reset Password</h2>
    <div>
        <label for="email">Email:
            <input id="email" class="spaced-left" [(ngModel)]="user.email" />
        </label>
        <br>
        <label for="newPassword">New Password:
            <input id="newPassword" class="spaced-left" [(ngModel)]="user.passWord" />
        </label>
        <br>
        <label for="confirmPassword">Confirm Password:
            <input id="confirmPassword" class="spaced-left" type="text" />
        </label>
        <br>
        <input id="submitButton" class="btn btn-info" type="submit" value="Submit" (click)="onSubmit()"/>
    </div>
    <div>
        <h2>User:</h2>
        <h3>Email: {{ user.email }}</h3>
        <h3>Password: {{ user.passWord }}</h3>
    </div>
</div>
</html>