.hidden {
    display: none;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 40em;
}

.spaced-left {
    margin-left: 1em;
}

input[type=submit] {
    margin-left: 35em;
}
html{
    background-color: #BBD1EA;
    background-size: cover;
      /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
	
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
	
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
h2{
    color: #507DBC;
}