<h2>Update Profile</h2>
<div>
    <img src="https://placeholder.com" (click)="this.getPictureFile()"/>
    <br>
    <input type="file" id="pictureFile" class="hidden" (change)="updatePicture($event.target.files)">
</div>
<div>
    <input id="firstName" [(ngModel)="employee.firstName"]/>
    <br>
    <input id="lastName" [(ngModel)="employee.lastName"]/>
    <br>
    <input id="email" [(ngModel)="employee.email"]/>
    <br>
</div>
<input id="submit" type="submit" (click)="this.updateProfile(employee)" value="Submit"/>

<h3>Employee:</h3>
<h2>Name: {{ employee.firstName }} {{ employee.lastName }}</h2>
<h2>Email: {{ employee.email }}</h2>